process {
    withName: TRIMMOMATIC {
        ext.args2 = 'LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:40'
    }

    withName: PICARD_CREATESEQUENCEDICTIONARY {
        ext.prefix = "ref2"
    }

    withName: VARPIPE_BWAMEM {
        ext.args = "-t 4"
    }

    withName: PICARD_SAMFORMATCONVERTER {
        ext.args = 'LENIENT'
        ext.output_suffix = '_GATK.bam'
    }

    withName: PICARD_MARKDUPLICATES {
        ext.args = '-ASSUME_SORTED true -REMOVE_DUPLICATES false -VALIDATION_STRINGENCY LENIENT'
        ext.prefix = { "${meta.id}_GATK_sdr" }
    }

    withName: PICARD_BUILDBAMINDEX {
        ext.args = 'LENIENT'
    }

    withName: SAMTOOLS_VIEW_UNMAPPED {
        ext.args = '-c'
        ext.prefix = 'unmapped'
    }

    withName: SAMTOOLS_VIEW {
        ext.args = '-bhF 4'
        ext.prefix = { "${meta.id}_sdrcsm" }
    }

    withName: PICARD_BUILDBAMINDEX_2 {
        ext.args = 'LENIENT'
    }

    withName: SAMTOOLS_VIEW_MAPPED {
        ext.args = '-c'
        ext.prefix = 'mapped'
    }

    withName: SAMTOOLS_DEPTH {
        ext.args = '-a'
    }

    // DR LOCI ANALYSES
    withName: '.*:VARPIPE_TARGETEDVARIANTS:GATK4_MUTECT2' {
        ext.args = '--max-mnp-distance 2'
        ext.prefix = { "${meta.id}_mutect" }
    }

    withName: '.*:VARPIPE_TARGETEDVARIANTS:GATK4_LEFTALIGNANDTRIMVARIANTS' {
        ext.args = '--split-multi-allelics'
        ext.prefix = { "${meta.id}_gatk_mutect" }
    }

    withName: '.*:VARPIPE_TARGETEDVARIANTS:GATK4_FILTERMUTECTCALLS' {
        ext.args = '--min-reads-per-strand 1 --min-median-read-position 10 --min-allele-fraction 0.01 --microbial-mode true'
        ext.prefix = { "${meta.id}_filter"}
    }

    // FULL SAMPLE ANALYSES
    withName: '.*:VARPIPE_ALLVARIANTS:GATK4_MUTECT2' {
        ext.args = '--max-mnp-distance 2'
        ext.prefix = { "${meta.id}_full_mutect" }
    }

    withName: '.*:VARPIPE_ALLVARIANTS:GATK4_LEFTALIGNANDTRIMVARIANTS' {
        ext.args = '--split-multi-allelics'
        ext.prefix = { "${meta.id}_gatk_full_mutect" }
    }

    withName: '.*:VARPIPE_ALLVARIANTS:GATK4_FILTERMUTECTCALLS' {
        ext.args = '--min-reads-per-strand 1 --min-median-read-position 10 --min-allele-fraction 0.01 --microbial-mode true'
        ext.prefix = { "${meta.id}_full_filter" }
    }

    withName: '.*:VARPIPE_TARGETEDVARIANTS:VARPIPE_SNPEFF' {
        ext.args = '-noLog'
        ext.prefix = { "${meta.id}_DR_loci_raw_annotation" }
    }

    withName: '.*:VARPIPE_ALLVARIANTS:VARPIPE_SNPEFF' {
        ext.args = '-noLog'
        ext.prefix = { "${meta.id}_full_raw_annotation" }
    }
}
