process {
    // DR LOCI ANALYSES
    withName: 'GATK4_MUTECT2' {
        ext.args = '--max-mnp-distance 2'
        ext.prefix = { "${meta.id}_mutect" }
    }

    withName: 'GATK4_LEFTALIGNANDTRIMVARIANTS' {
        ext.args = '--split-multi-allelics'
        ext.prefix = { "${meta.id}_gatk_mutect" }
    }

    withName: 'GATK4_FILTERMUTECTCALLS' {
        ext.args = '--min-reads-per-strand 1 --min-median-read-position 10 --min-allele-fraction 0.01 --microbial-mode true'
        ext.prefix = { "${meta.id}_filter"}
    }

    withName: 'SNPEFF_SNPEFF' {
        ext.args = '-noLog'
        ext.prefix = { "${meta.id}_DR_loci_raw_annotation" }
    }
}
